.pets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .pet {
    margin-left: 2vw;
    max-width: 350px;
    min-width: 300px;
    margin-right: 2vw;
    margin-bottom: 3vh;
    height: 15%;
    width: 15%;
    // background-color: rgb(235, 235, 235);
    border: solid 3px rgb(235, 235, 235);
    padding: 20px;
    border-radius: 10px;
    img {
      width: 100%;
      border-radius: 8px;
    }
    .name {
      font-size: 30px;
      margin-bottom: 2vh;
      margin-top: 1vh;
      font-weight: 700;
    }
    .breed {
      font-size: 1.3rem;
      font-weight: normal;
    }
  }
}

p {
  padding: 0;
  margin: 0;
}
